<body class="sheet">


    <br>

    <div class="container">

        <div class="row title">
            <h2 class="col-12 title font-weight-bold">Come to Me (A Journey of Love)</h2>

        </div>

        <br>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 MusicBox">
                <img class="" src="assets/imgs/MarkAlbum.jpg" alt="">
            </div>


            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <p>A unique combination of words, meaning, acoustic sound and gentle vocals. Songs about true love,
                    persistence and commitment.
                    Come to Me is simply the perfect "Wedding Song". </p>
                <ul>
                    <li><a href="https://open.spotify.com/track/5t7VCiOSVmKBnejfzbIanH?si=saZK-rujTqyjND9UzQqsxw">Come
                            to me. (A wedding song)</a> </li>
                    <li><a href="https://open.spotify.com/track/1OGMQ0YnOxHLhHXJtDFR0H?si=8JlAykjVRTubKSiP2m6mFw">Come
                            to me. (Renewal Of Vows)</a></li>
                    <li><a href="https://open.spotify.com/track/3zEe8QCWvLwuQiGg4UqBg0?si=TXux2ayJSXyh6OjSbY49bA">Come
                            to me. (A Journey of Love) Key A - Performance Track</a></li>
                    <li><a href="https://open.spotify.com/track/3FgjO26HSe6JQFjRKMVL5b?si=v1HyhgRIRuyxxDoVATofAw">Come
                            to me. (A Journey of Love) Key G - Performance Track</a></li>
                </ul>
            </div>

        </div>


        <br>
        <br>
        <!--justify-content-center align-items-center-->
        <div class="row ">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 ">
                <iframe src="https://open.spotify.com/embed/album/6EADKK8IJ1juSPfCGlOxJ9" width="300" height="520"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <!--<embed src="assets/lyrics/Trust-In-The-Lord.pdf" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                <h3 class="title">Chords and Lyrics</h3>
                <ol>
                    <li><a href="http://www.markhargrave.com/trust%20in%20the%20lord.pdf">Trust In The Lord</a></li>
                    <li><a href="http://www.markhargrave.com/song%20of%20francis.pdf">Song Of St.Francis</a></li>
                    <li><a href="http://www.markhargrave.com/my%20dwelling%20place.pdf">My Dwelling Place</a></li>
                    <li><a href="http://www.markhargrave.com/through%20the%20eyes%20of%20god.pdf">Through The Eyes of God</a></li>
                    <li><a href="http://www.markhargrave.com/footprints%20in%20the%20sand.pdf">Footprints In The Sand</a></li>
                    <li><a href="http://www.markhargrave.com/embraced.pdf">Embraced</a></li>
                    <li><a href="http://www.markhargrave.com/take%20my%20hand.pdf">Take My Hand</a></li>
                    <li><a href="http://www.markhargrave.com/wait%20upon%20the%20lord.pdf">Wait Upon The Lord</a></li>
                    <li><a href="http://www.markhargrave.com/in%20the%20stillness.pdf">In The Stillness</a></li>
                    <li><a href="http://www.markhargrave.com/a%20clean%20heart.pdf">A Clean Heart</a></li>
                    <li><a href="http://www.markhargrave.com/come%20unto%20me.pdf">Come Unto Me</a></li>
                    <li><a href="http://www.markhargrave.com/psalm%2027.pdf">Psalm 27</a></li>
                    <li><a href="http://www.markhargrave.com/the%20lords%20prayer.pdf">The Lord's Prayer</a></li>
                    <li><a href="http://www.markhargrave.com/the%20blessing.pdf">The Blessing</a></li>
                </ol>
            </div>

        </div>







    </div>

</body>