<body class="sheet">

    <div class="container Show">

        <div class="row">

            <div class="">
                <img class=""  src="assets/imgs/MarkAlbum.jpg" alt="">
            </div>

            <h3>Come to Me (A Journey of Love)</h3>
            <p>A unique combination of words, meaning, acoustic sound and gentle vocals. Songs about true love, persistence and commitment. 
            Come to Me is simply the perfect "Wedding Song". </p>
      
            <ul>
                <li><a href="https://open.spotify.com/track/5t7VCiOSVmKBnejfzbIanH?si=saZK-rujTqyjND9UzQqsxw">Come to me. (A wedding song)</a> </li>
                <li><a href="https://open.spotify.com/track/1OGMQ0YnOxHLhHXJtDFR0H?si=8JlAykjVRTubKSiP2m6mFw">Come to me. (Renewal Of Vows)</a></li>
                <li><a href="https://open.spotify.com/track/3zEe8QCWvLwuQiGg4UqBg0?si=TXux2ayJSXyh6OjSbY49bA">Come to me. (A Journey of Love) Key A - Performance Track</a></li>
                <li><a href="https://open.spotify.com/track/3FgjO26HSe6JQFjRKMVL5b?si=v1HyhgRIRuyxxDoVATofAw">Come to me. (A Journey of Love) Key G - Performance Track</a></li>
            </ul>
        </div>
        
        <div class="row ">

            <div class="col-xs-2 ">
                
            </div>

            <div class="">
                <iframe src="https://open.spotify.com/embed/album/6EADKK8IJ1juSPfCGlOxJ9" width="300" height="520" 
                frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>

            <div class="col-xs-2 ">
                
            </div>
            
        </div>
        
        
        
    </div>

</body>