<body class="sheet">
    <br>
    <div class="container">

        <div class="row ">
            <h2 class="col-12 title font-weight-bold">Mark Hargrave</h2>
        </div>
        <br>
        <div class="row h-100 justify-content-center align-items-center">
            
            <p class="col-md-8 order-md-1 cardInfo">Christian singer, songwriter, and guitarist.
                Like an artist before his easel, Mark paints pictures with his songs. These musical "paintings" reflect his intimate relationship with Jesus. 
            His songs emerge from the dept of this relationship full of life and compassion.</p>
            
            
            <img class="col-md-4 order-md-2" src="assets/imgs/Mark.png">
            
        </div>

        <div class="row h-100 justify-content-center align-items-center">

            <p class="col-md-8 order-md-2 cardInfo">Perhaps there is no greater glimpse into another person's soul than there is into a songwriter who performs his own work, and yet Mark's 
            songs are for everyone. Because of his ability to craft words into lyrical melodies, there is a stirring beauty and a lifting of the soul to God. 
            Our hopes are renewed. Our pain </p>

            <img class="col-md-4 order-md-1" src="assets/imgs/footprints.jpg">

        </div>
        
    </div>
   

</body>