<p>home works!</p>

Mark Hargrave
<p>Like an artist before his easel, Mark paints pictures with his songs. These musical "paintings" reflect his intimate relationship with Jesus. His songs emerge from the dept of this relationship full of life and compassion.</p>
<p>Perhaps there is no greater glimpse into another person's soul than there is into a songwriter who performs his own work, and yet Mark's songs are for everyone. Because of his ability to craft words into lyrical melodies, there is a stirring beauty and a lifting of the soul to God. Our hopes are renewed. Our pain 