/* You can add global styles to this file, and also import other style files */
@import "~ng-snotify/styles/material.css"; 

.container{
    border: 1px solid white;
}

html,.sheet,.container {
    background-color: black;
    color: white;
    
    
}

.navSheet{
    background-color: black;
    color: white;
    border: 1px solid white;
}