<body class="sheet">
    <br>
    <div class="container">
    
        <div class="row">

            <div class="col-md-2 order-xs-3 order-sm-3 ">
                <img class="" src="assets/imgs/PrayerfulHands.jpg">
            </div>



            <div class="PrayerCard col-8 order-xs-2 order-sm-2">

                <h6>Praying the Chaplet of Divine Mercy from your computer terminal
                    (Created by Mark Hargrave): </h6>
                <p><a href="http://www.praydivinemercy.com/">The Chaplet of Devine Mercy</a></p>

                <h6>A daily act of consecration to Jesus Prayer: </h6>
                <p><a href="https://www.markhargrave.com/actofcon_prayer.html">Act of Consecration Prayer</a></p>

                <h6>A great daily spiritual warfare prayer:</h6>
                <p><a href="https://www.markhargrave.com/daily_prayer.html">Act of Consecration Prayer</a></p>

                <h6>A prayer of forgiveness: </h6>
                <p><a href="https://www.markhargrave.com/forgiveness_prayer.html">Forgiveness Prayer</a></p>

                <h6>A daily act of consecration to Jesus Prayer: </h6>
                <p><a href="https://www.markhargrave.com/jesussetme_prayer.html">Prayer of Authority</a></p>

                <h6>A daily act of consecration to Jesus Prayer: </h6>
                <p><a href="https://www.markhargrave.com/stfrancis_prayer.html">Prayer of St. Francis</a></p>

            </div>

            <div class="col-md-2 order-xs-1 order-sm-1">
                <img class="" src="assets/imgs/DevineMercy.jpg">
            </div>


        </div>
    
    
    </div>
</body>