<body class="sheet">
    <br>
    <div class="container">
    
        <div class="row justify-content-center align-items-center">

            <div class="justify-content-center align-items-center col-xs-12 col-sm-12 col-md-2">
                <img class="Images" src="assets/imgs/DevineMercy.jpg">                
            </div>



            <div class="PrayerCard justify-content-center align-items-center col-xs-12 col-sm-12 col-8 ">

                <h6>Praying the Chaplet of Divine Mercy from your computer terminal
                    (Created by Mark Hargrave): </h6>
                <p><a href="http://www.praydivinemercy.com/">The Chaplet of Devine Mercy</a></p>

                <h6>A daily act of consecration to Jesus Prayer: </h6>
                <p><a href="https://www.markhargrave.com/actofcon_prayer.html">Act of Consecration Prayer</a></p>

                <h6>A great daily spiritual warfare prayer:</h6>
                <p><a href="https://www.markhargrave.com/daily_prayer.html">Act of Consecration Prayer</a></p>

                <h6>A prayer of forgiveness: </h6>
                <p><a href="https://www.markhargrave.com/forgiveness_prayer.html">Forgiveness Prayer</a></p>

                <h6>A daily act of consecration to Jesus Prayer: </h6>
                <p><a href="https://www.markhargrave.com/jesussetme_prayer.html">Prayer of Authority</a></p>

                <h6>A daily act of consecration to Jesus Prayer: </h6>
                <p><a href="https://www.markhargrave.com/stfrancis_prayer.html">Prayer of St. Francis</a></p>
                <p><a href="assets/prayers/tester.html">Prayer of St. Francis</a></p>
            </div>

            <div class="justify-content-center align-items-center col-xs-12 col-sm-12 col-md-2 ">
                <img class="Images" src="assets/imgs/PrayerfulHands.jpg">         
            </div>


        </div>
    
    
    </div>
</body>