<p>story works!</p>

Mark Ellis Hargrave was born in the small Cajun town of New Iberia, Louisiana. Fifteen minutes before Mark's birth, his twin sister Melinda was born. 
He also has an older sister named Jackie. Mark was diagonsed at birth with a heart condition called "Aortic Stenosis" which limit his involvement in sport 
activities as a young boy. Mark believes that God always has a plan and this limitation allowed him to get involved in other activities such as joining the 
school Band, Chorus, and taking piano lessons.


God's plan began to unfold in Mark's life when at the age of 15 he began writing songs and also teaching himself to play the guitar. Music became a joy in his 
life and His strong faith became his inspiration. Two years later he attended his first Christian concert by a group called "The Dameans". It was after that concert Mark 
felt in his heart the Lord calling him to music ministry in the Catholic Church.

That very same year he started the first youth choir and children's choir at Our Lady of Perpetual Help Church in New Iberia. Mark went on to serve the community by 
organizing choirs at neighboring churches.

One of Mark's achievements was an "excellent rating" award given by NALR Catholic Publishing, now Oregon Catholic Press, for his song writing. He was also given the 
opportunity to write the theme song for the 1985 Catholic Youth Conference in Lafayette, Louisiana. Mark's most recent choir, SonLight, from St. Margaret Mary Church in 
Slidell, Louisiana, has recorded three albums under his direction. His lifelong dream has always been to record a solo album of his own compositions which was finally 
accomplished in August, 2002 with his CD entitled "Footprints in the Sand".

Some of Mark's earliest musical influences include John Michael Talbot, St. Louis Jesuits, Amy Grant, and the Maranatha Singers. He also grew up listening to artist 
like John Denver, The Carpenters, "Peter, Paul, and Mary", and "David Gates and Bread". Other musical influences came from his parents always having music playing 
in their home. Mark would sit for hours listening to the radio and figuring out the harmonies to various songs. He would often fall asleep at night listening to music 
playing on his stereo. The main instrument Mark now plays is the guitar which includes a Guild DV52 acoustic guitar and a Guild GN-5 classical guitar. 