<body class="sheet">
    <br>
    <div class="container">
        <h1 class="title font-weight-bold">Useful Links</h1>   
        <div class="row">

            
            <div class="linkCard col-xs-12 col-sm-6">
                <h2 class="title font-weight-bold">News: </h2>
                <a href="http://www.spiritdaily.com/">Sprit Daily</a><br>
                <a href="http://www.catholicnews.com/">Catholic News</a><br>
                <a href="http://www.catholiconline.com/">Catholic Online</a><br>
                <a href="http://www.cwnews.com/">Catholic World News</a><br>

            </div>

            <div class="linkCard col-xs-12 col-sm-6">
                <h2 class="title font-weight-bold">Catholic Links: </h2>
                <a href="http://www.vatican.va/">The Vatican</a><br>
                <a href="https://www.vatican.va/archive/ENG0015/_INDEX.HTM">The Catechism</a><br>
                <a href="http://www.catholic.com/">Catholic Answers</a><br>
                <a href="http://www.ewtn.com/">EWTN</a><br>
            </div>

            <div class="linkCard col-xs-12 col-sm-6">
                <h2 class="title font-weight-bold">Other: </h2>
                <a href="http://www.movieguide.org/">Moive Guide</a><br>
                <a href="http://www.catholicnews.com/data/movies/list.htm">Catholic Movie Rating</a><br>
                <a href="http://masstimes.org/">Mass Times for Travel</a><br>
                <a href="http://www.123greetings.com/events/easter/religious_cards/">Free Religious Easter Cards</a><br>
                <a href="http://onlineparallelbible.com/">Online Parallel Bible</a><br>
                <a href="http://unbound.biola.edu/">Unbound Bible</a><br>
                <a href="http://www.gvonline.net/">Grape Vine Podcast</a><br>
            </div>
            
            <div class="linkCard col-xs-12 col-sm-6">
                <h2 class="title font-weight-bold">Music Stuff: </h2>
                <a href="http://www.tikiking.com/transposing_wheel/transposing_wheel_D_E.html">The Interactive Transposition Wheel</a><br>
                <a href="http://thesaurus.reference.com/">Thesaurus</a><br>
                <a href="https://www.rhymer.com/">Online Rhyming Dictionary</a><br>
                <a href="https://gosk.com">Guitar Survival Kit</a><br>
                <a href="http://www.musicreader.net/">Music Reader</a><br>
                <a href="http://www.chordbook.com/guitarchords.php">Guitar Chords</a><br>
                <a href="http://www.accessbackstage.com/america/amcords.htm">America's Chords</a><br>
            </div>
            


        </div>
    
    
    </div>
</body>